    <div class="col-md-4 directions-form">
      <h2>Get Directions</h2>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-body">
            <form class="starting-point-form" (submit)="addMarker()">
              <label>What's your starting point?</label>
              <div class="form-group">
                <input class="starting-point-text" type="text" #search [formControl]="searchControl">
              </div>
              <input class="submit-button" type="submit" value="Add Marker">
            </form>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-body">
            <label>Where would you like to go?</label>
            <div *ngFor="let marker of setMarkers;">
              <input [(ngModel)]="marker.isSelected" type="checkbox" id="marker.name" name="destinations" value="marker.name">
              <label for="marker.name">{{marker.name}}</label>
            </div>
          </div>
          <form (submit)="testing()">
            <input class="submit-button" type="submit" value="Lets Go!">
          </form>
        </div>
      </div>
    </div>
